.App {
  /* background-color: blue; */
}

.clase-header {
  /* Stick to the top */
  position: sticky;
  top: 0;
  background: yellow;
}

.nav {
  transition: background-color .5s;
  text-align: end;
}

.nav_item {
  list-style: none;
  display: inline;
  background: green;
  padding-right: 5rem;
  padding-left: 5rem;
}

.nav_item:hover {
  background: red;
}

.color-letra {
  color:white;
}


